# =========================
# Secrets & Config
# =========================
.env
.env.*
config.json

# =========================
# Python cache
# =========================
__pycache__/
**/__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Virtual Environments
# =========================
.venv/
venv/
ENV/
env/

# =========================
# Streamlit
# =========================
.streamlit/

# =========================
# Logs & temp
# =========================
*.log
*.tmp

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# IDEs
# =========================
.vscode/
.idea/
